p Halaman Dashboard #{user.provider}

a(href="#{user.photo}" target="_blank")
  img(src="#{user.photo}" style="width: 100px")
p Display Name #{user.provider} : #{user.displayName}
p #{user.provider} Name : #{user.name}
p username #{user.provider} : @#{user.username}
if user.provider != "twitter"
  p email #{user.provider} : #{user.email}

a(href="/Logout") Log Out
